*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body{
  background-color: hsl(0, 0%, 15%);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.todo-app{
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border: 2px solid hsl(0, 0%, 15%);
  width: 500px;
  margin-top: 20%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 5px 0 hsl(0, 0%, 15%);
}
.inputs{
  display: flex;
  gap: .5rem;
}
input{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: hsl(0, 0%, 20%);
  border: 1px solid rgba(143, 143, 143, 0.2);
  margin-bottom: 10px;
}
button{
  padding: 10px 25px;
  background-color: hsl(0, 0%, 5%);
  color: white;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 50px;
  margin: 20px 10px;
  font-size: 16px;
  cursor: pointer;


}
.todo-list{
  margin-top: 30px;
}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 2rem;
}
.todo p{
  cursor: pointer;
  font-weight: 500;
}
.todo p:hover{
  color: hsl(0, 0%, 50%)
}
.buttons{
  display: flex;
  gap: .5rem;
}
button#edit{
  background-color: #008000;
}
button#delete{
  background-color: red;
}
.move-btns{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.move-btns button{
  padding: 2px;
}

#product{
    background-color: hsl(240, 100%, 80%);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
}
.usercard, #products{
  background-color: hsl(120, 100%, 10%);
  border: 1px solid rgb(4, 139, 4);
  padding: 10px;
}
.userinfo{
  text-align: left;
}
#user-details{
  border: 1px solid rgba(133, 133, 133, 0.3);
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 5px;
}
ul li {
  display: flex;
}