.collections{
    border: 1px solid rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 10px;
    list-style: none;
    box-shadow: 0 5px 0 rgba(0,0,0,.5);
    background-color: white;
    margin-bottom: 50px;
    width: 200px;
}
div h2{
    color: hsl(0, 0%, 15%);
    margin: 0;
}