.subscribe {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: 1px solid;
}

.danger {
  background-color: tomato;
  color: black;
  padding: 10px 20px;
  border: 1px solid;
}
